$theme: (
    primary: (
        50: #fff4df,
        100: #ffe3b0,
        200: #ffd17c,
        300: #ffbe46,
        400: #ffaf16,
        500: #ffa200,
        600: #fc9500,
        700: #f78500,
        800: #f27500,
        900: #ea5a00,
        light: #ffe3b0,
        medium: #ffd17c,
        dark: #ffa200,
        contrast: (
            50: #000,
            100: #000,
            200: #000,
            300: #000,
            400: #000,
            500: #000,
            600: #000,
            700: #000,
            800: #000,
            900: #000,
            light: #000,
            medium: #000,
            dark: #000,
        )
    ),
    secondary: (
        50: #fae2eb,
        100: #f4b7ce,
        200: #ee88ae,
        300: #e7578e,
        400: #e22f76,
        500: #de005e,
        600: #ce005b,
        700: #b80056,
        800: #a30052,
        900: #7e004a,
        light: #f4b7ce,
        medium: #e22f76,
        dark: #b80056,
        contrast: (
            50: #000,
            100: #000,
            200: #000,
            300: #000,
            400: #000,
            500: #fff,
            600: #fff,
            700: #fff,
            800: #fff,
            900: #fff,
            light: #000,
            medium: #fff,
            dark: #fff,
        )
    ),
    error: (
        50: #ffe7e6,
        100: #ffc7b8,
        200: #ffa28a,
        300: #ff795b,
        400: #ff5436,
        500: #ff200c,
        600: #ff1507,
        700: #ff0000,
        800: #f10000,
        900: #da0000,
        light: #ff200c,
        medium: #ff0000,
        dark: #f10000,
        contrast: (
            50: #000,
            100: #000,
            200: #000,
            300: #000,
            400: #000,
            500: #000,
            600: #000,
            700: #000,
            800: #000,
            900: #fff,
            light: #000,
            medium: #000,
            dark: #000,
        )
    ),
)